html,
body {
  font-size: 16px;
  font-family: "Roboto", serif;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  
  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

.button {
  font: inherit;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: medium;
  color: #fff;
  
  border: 0;
  background-color: #fb565a
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, .3);
  
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, .1);
}

.fon-up {
  background-color: #eee;
  background-image: url(img/fon-up.png);
  background-position: 0 0;
  background-repeat: repeat;
}

.list-nav,
.list-purchases {
  list-style: none;
}

.list-nav a,
.list-purchases a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.list-nav a:hover,
.list-nav a:focus,
.list-purchases a:hover,
.list-purchases a:focus {
  color: #fb565a;
}

.list-nav a:active,
.list-purchases a:active {
  color: rgba(0, 0, 0, .3);
}

.header-logo-img:hover,
.header-logo-img:focus {
  opacity: .8;
}

.header-logo-img:active {
  opacity: .3;
}

.slide-description b {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.list-services {
  list-style: none;
}

.list-services h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.services-button-1 {
  background-color: #fb565a;
}

.services-button-1:hover,
.services-button-1:focus {
  background-color: #e74246;
}

.services-button-1:active {
  color: rgba(255, 255, 255, .3);
  
  background-color: #d7373b;
}

.services-button-2 {
  background-color: #00ca74;
}

.services-button-2:hover,
.services-button-2:focus {
  background-color: #00bc6c;
}

.services-button-2:active {
  color: rgba(255, 255, 255, .3);
  
  background-color: #00aa62;
}

.services-button-3 {
  background-color: #efc84a;
}

.services-button-3:hover,
.services-button-3:focus {
  background-color: #eab534;
}

.services-button-3:active {
  color: rgba(255, 255, 255, .3);
  
  background-color: #e5a722;
}

.about-us-1 b {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000;
}

.about-us-1 h4 {
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
}

.about-us-2 {
  text-align: center;
}

.about-us-2 b {
  font-weight: 700;
  text-transform: uppercase;
}

.row-1 td {
  font-size: 45px;
  line-height: 55px;
  font-weight: 700;
  color: #000;
}

.row-2 th {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.partners-list {
  list-style: none;
}

.partner-img {
  opacity: .2;
}

.partner-img:hover,
.partner-img:focus {
  opacity: 1;
}

.partner-img:active {
  opacity: .1;
}

.page-title {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;

  margin: 0;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.cost-name {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.filter-cost input[type="number"] {
  text-align: center;
  vertical-align: middle;
  
  background-color: #eee;
  border: none;
}

.filter ul {
  list-style: none;
}

.filter li {
  line-height: 20px;
}

.filter-button {
  color: #000;
  
  background-color: #eee;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  color: rgba(0, 0, 0, .3);
  
  background-color: #d5d5d5;
}

.filter-type-item label:hover,
.filter-type-item label:focus,
.filter-features-item label:hover,
.filter-features-item label:focus {
  color: #000;
}

.filter-type-item label:active,
.filter-features-item label:active {
  opacity: .3;
}

.products b {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: #000;
}

.products ul {
  list-style: none;
}

.sorting-item a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .3);
}

.sorting-item a:hover,
.sorting-item a:focus {
  color: rgba(0, 0, 0, .6);
}

.sorting-item a:active {
  color: rgba(0, 0, 0, 1);
}

.sorting-item-current a {
  color: #000;
}

.pagination-item a {
  line-height: 18px;
  color: #000;
  
  background-color: #eee;
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
  color: rgba(0, 0, 0, .3);
  
  background-color: #d5d5d5;
}

.pagination-item-current a {
  color: #000;
  
  outline: 3px solid #dbdbdb;
  outline-offset: -3px;
  background-color: transparent;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000;
  
  background-color: transparent;
  box-shadow: none;
}

.contacts-footer {
  color: #666666;
}

.contacts-footer b {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.social-list {
  list-style: none;
}

.social-button {
  color: #fff;
  
  background-color: #e1e1e1;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  color: rgba(255, 255, 255, .3);
  
  background-color: #d7373b;
}

.discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.discount b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.write-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 400;
}

.modal-write label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-write input[type="text"],
.modal-write input[type="email"],
.modal-write textarea {
  border: 2px solid #d7dcde;
}

.modal-write input[placeholder],
.modal-write textarea[placeholder] {
  font-size: 16px;
  line-height: 18px;
  color: #444;
  opacity: .5;
}

.modal-write input[type="text"]:hover,
.modal-write input[type="email"]:hover,
.modal-write textarea:hover {
  border: 2px solid #b4b9bb;
}

.modal-write input[type="text"]:focus,
.modal-write input[type="email"]:focus,
.modal-write textarea:focus {
  border: 2px solid #000;
}

.modal-write input[placeholder]:focus,
.modal-write textarea[placeholder]:focus {
  font-size: 16px;
  line-height: 18px;
  color: #444;
  opacity: 1;
}

.modal-write input[type="text"]:invalid,
.modal-write input[type="email"]:invalid,
.modal-write textarea:invalid {
  border: 2px solid #e74246;
}

.modal-write input[placeholder]:invalid,
.modal-write textarea[placeholder]:invalid {
  font-size: 16px;
  line-height: 18px;
  color: #e74246;
  opacity: 1;
}

.buy-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}

.buy-description {
  text-align: center;
  line-height: 18px;
  color: #666666;
}

.buy-button:active {
  color: #fff;
}

/*Стили для сетки*/

html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

.main-header {
  width: 100%;
  height: 114px;
  
  outline: 1px solid red;
}

.container-align {
  width: 1160px;
  padding: 0px 20px;
  margin: 0 auto;
  
  outline: 2px solid blue;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 114px;
  
  outline: 3px solid orange;
}

.header-logo,
.list-nav,
.list-purchases {
  padding: 0;
  margin: 0;
  align-self: flex-end;
  
  outline: 4px solid yellow;
}

.header-logo {
  flex-basis: 160px;
}

.list-nav {
  display: flex;
  justify-content: space-between;
  flex-basis: 560px;
  margin-bottom: 9px;
}

.list-nav li:first-child {
  margin-left: 62px;
}

.list-nav li:last-child {
  margin-right: 60px;
}

.list-purchases {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
  flex-basis: 200px;
  margin-bottom: 9px;
}

.slider {
  height: 411px;
  margin-bottom: 80px;
  
  outline: 1px solid red;
}

.header-logo img {
  display: block;
}

.slide-description p {
  margin-top: 0;
}

.list-services {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 427px;
  margin: 0;
  padding:0;
  margin-bottom: 80px;
  border-bottom: 2px solid #eee;
  
  outline: 1px solid red;
}

.services-item {
  flex-basis: 300px;
  
  outline: 2px solid orange;
}

.about-us {
  display: flex;
  justify-content: space-between;
  height: 445px;
  
  border-bottom: 2px solid #eee;
  
  outline: 1px solid red;
}

.about-us-1 {
  flex-basis: 660px;
  
  outline: 2px solid orange;
}

.about-us-2 {
  flex-basis: 360px;
  
  outline: 2px solid orange;
}

.partners-list {
  display: flex;
  height: 180px;
  padding: 0;
  margin: 0;
  border-top: 2px solid #eee;
  border-bottom: 2px solid: #eee;
  margin-bottom: 80px;
  
  outline: 1px solid red;
}

.partner-item {
  outline: 2px solid orange;
}

.partner-item:first-child {
  padding: 62px 50px 50px 31px;
}

.partner-item:nth-child(2) {
  padding: 46px 45px 48px 46px;
}

.partner-item:nth-child(3) {
  padding: 65px 57px 63px 58px;
}

.partner-item:last-child {
  padding: 52px 43px 44px 64px;
}

.main-footer {
  outline: 1px solid red;
}

.map-footer {
  width: 100%;
  height: 416px;
  
  background-color: #eee;
  background-image: url(img/map.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  
  outline: 2px solid orange
}

.container-contacts {
  display: flex;
  width: 319px;
  height: 416px;

  outline: 3px solid yellow;
}

.contacts-footer {
  flex-basis: 319px;
  align-self: center;
  
  padding-top: 54px;
  padding-bottom: 54px;
  padding-left: 50px;
  padding-right: 50px;
  
  background-color: #fff;
}

.footer-bottom {
  display: flex;
  height: 217px;
  
  outline: 2px solid orange;
}

.footer-social,
.discount {
  align-self: center;
  outline: 3px solid yellow;
}

.footer-social {
  flex-basis: 260px;
  margin-right: 140px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  
  margin: 0;
  padding: 0;
}

/*Сетка каталога*/

.page-title {
  width: 100%;
  padding: calc((241px - 55px)/2) 0;
  text-align: center;
  margin-bottom: 60px;
  
  outline: 1px solid red;
}

.wrapper-main {
  display: flex;
}

.filters {
  flex-basis: 260px;
  margin-right: 140px;
  
  outline: 1px solid red;
}

.products {
  display: flex;
  flex-direction: column;
  width: 760px;
  
  outline: 1px solid red;
}

.wrapper-sorting {
  display: flex;
  margin-bottom: 60px;
  
  outline: 2px solid orange;
}

.wrapper-sorting b,
.sorting-list {
  outline: 3px solid yellow;
}

.wrapper-sorting b {
  flex-basis: 160px;
  margin-right: 240px;
}

.sorting-list {
  margin: 0;
  padding: 0;
}

.sorting-list-main {
  flex-basis: 300px;
  display: flex;
  justify-content: space-between;
}

.sorting-list-main li:last-child {
  margin-right: 29px;
}

.arrow-list {
  display: flex;
  justify-content: flex-end;
  
  width: 60px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 1914px;
  
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
}

.product-item {
  outline: 2px solid orange;
}

.product-img {
  display: block;
  margin-top: 40px;
  
  border: 1px solid #eee;
}


.pagination-list {
  margin: 0;
  padding: 0;
  flex-basis: 50px;
  width: 443px;
  display: flex;
  justify-content: space-between;
  
  outline: 2px solid orange;
}

.buy {
  display: flex;
  flex-direction: column;
  
  height: 231px;
  width: 360px;
  
  background-color: #eee;
  
  outline: 1px solid red;
}

.buy-wrapper {
  display: flex;
  flex-direction: column;
  height: 152px;
  width: 200px;
  justify-content: center;
  align-items: center;
  margin: auto;
  
  outline: 2px solid orange;
}